
html {
    scroll-behavior: smooth;
  }

body {
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #0000;
    color:black;
    text-align: center;
    /*
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Zilla Slab', serif;*/
    font-family: 'Zilla Slab', serif;
    position: relative;
    
}
.mainContainer, #mainChristmass, .letsSay{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
#mainChristmass{
    width: 100%;
    background-image: url(../Assets/newBackground.png);
    background-size: cover;
    
}
.letsSay{
    padding: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: gold;
}
.xmass{
    font-family: 'Zilla Slab', serif;
    color: gold;
    font-size: 30px;
    text-shadow:5px 5px 10px green;
    background-color: rgba(7, 95, 66, 0.267);
}
.bibleVerse, .second{
    max-width: 868px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Nanum Myeongjo', serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    
}
.around{
    width: 100%;
    box-sizing: border-box;
    font-size: 35px;
    color: yellow;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    padding: 15px;
    text-align: center;
    text-shadow:3px 3px 5px red;
    font-style: italic;
    background-color: rgb(150, 13, 13);
    background-color: rgba(7, 95, 66, 0.267);
}

.around2{
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    color: yellow ;
    text-shadow:3px 3px 5px rgb(150, 13, 13);
    padding: 15px;
    background-color: rgba(7, 95, 66, 0.267);
}
.bibleVerse h2{
    border: 2px solid white;
    border-radius: 15px;
    text-shadow:3px 3px 5px rgb(150, 13, 13);
    color: yellow;
    padding: 15px;
    background-color: rgba(7, 95, 66, 0.267);
}





.firstBox{
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
    position: relative;
}
.firstInfo h2 {
    max-width: 650px;
    padding: 10px;
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    text-shadow:3px 3px 5px red;
    font-size: 35px;
}
.banner1{
    min-width: 320px;
    
    width: 100%;
}
.firstInfo{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;align-items: center;
    text-align: center;
}
.logoE{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
}
.firstInfo h1{
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

.second{
    color: white;
}
.second h2, .second h1{
    background-color: rgba(6, 90, 27, 0.432);
    border-radius: 15px;
    padding: 3px;
}




.footer {
    width: 100%;
    background-color: #2c641b;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}
.footer a{
    color: white;
    font-size: 26px;
    text-decoration: none;
}


.contactUs{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    padding: 25px;
    align-items: center;
    justify-content: center;
}
.contactUs a{
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 20px;
    width: 250px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #2c641b;
    text-align: center;
    border-radius: 15px;
    transition: transform .9s; 
}
.contactUs a:hover{
    opacity: 0.9;
    transform: scale(1.09);
}
.contactH2{
    width: 100%;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 35px;
}





.buyNow{
    width: 190px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(150, 13, 13);
    margin: 10px;
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    box-shadow: 3px 3px 12px rgb(7, 126, 33);
    border-radius: 15px;
}
.purchase{
    width: 100%; box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



.christmas{
    margin: 0 auto;
    padding: 25px;
}
