
html {
    scroll-behavior: smooth;
  }

body {
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #0000;
    color:black;
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.firstBox{
    min-width: 320px;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.banner1{
    min-width: 320px;
    
    width: 100%;
}
.firstInfo{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 200px;
    flex-direction: column;align-items: center;
    text-align: center;
}
.logoE{
width: 290px;
}
.firstInfo h1{
    font-family: 'Righteous', cursive;
}


.seeYou {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url(../Assets/backgroundflower.png);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.seeYou h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #2c641b;
    top: 100px;
    width: 100%;
    height: 100px;
    z-index: 0;
}


.scripture {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding:25px;
    justify-content: center;
    text-align: center;
}
.leftSide1, .rightSide1 {
    width: 290px;
    box-sizing: border-box;
}
.scripture h2{
    font-family: 'Righteous', cursive;
}
.scripture address {
    font-size: 20px;
}
.footer {
    width: 100%;
    background-color: #2c641b;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Righteous', cursive;
}
.footer a{
    color: white;
    font-size: 26px;
    text-decoration: none;
}

.payNow h3{
    max-width: 750px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    color: #2c641b;
}
.contactUs{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    padding: 25px;
    align-items: center;
    justify-content: center;
}
.contactUs a{
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 20px;
    width: 250px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #2c641b;
    text-align: center;
    border-radius: 15px;
    transition: transform .9s; 
}
.contactUs a:hover{
    opacity: 0.9;
    transform: scale(1.09);
}
.contactH2{
    width: 100%;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 35px;
}
.hats{
margin-top: -600px;
}